.parantDiv{
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-bottom: 50px;
}
.childDiv, p{
    background-color: rgb(243, 243, 243);
    padding: 20px;
    margin: 7px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 4px;
    letter-spacing: .4px;
    word-spacing: 6px;
    color: rgb(65, 67, 68);
}
.h1{
    text-align: center;
    color: teal;
    font-size: 25px;
    padding: 10px;
}